.preloader {
	@extend %center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #fff;
	z-index: 2;
}

.preloader__icon {
	& svg path,
	& svg rect {
		fill: $color-main;
	}
}
