footer {
	@extend %center;

	width: 100%;
	position: relative;
}
.footer__container {
	@extend %center;
	flex-direction: column;
	width: 100%;
	padding: 4vh 10rem;
	position: relative;

	color: rgb(var(--data-color-black));
	background: rgb(var(--data-color-background));

	@include media('<tablet') {
		padding: 20px;
	}
}
.footer__top {
	background: rgb(246, 244, 242);
	height: 9vh;
	width: 100%;
	border-radius: 0 0 10vh 10vh;
	position: absolute;
	top: 0;
	left: 0;
}
.footer__item {
	@extend %paragraph-16;

	display: flex;
	flex-direction: column;
	line-height: 24px;
	margin-bottom: 0;

	@include media('<phone') {
		margin: 16px;
	}
}
.footer__text {
	@extend %paragraph-16;
}
.footer__link {
	// @extend %link--hidden;
}
.footer__link:hover {
	opacity: 0.8;
}
footer .signature {
	position: absolute;
	bottom: 30px;
	height: 300px;
	left: 50%;
	transform: translate(-50%, 0%) rotate(-10deg);
	opacity: 0.22;

	@include media('<phone') {
		height: 200px;
	}
}

.footer__logo svg {
	max-width: 17vh;
}
