meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")

base(href="/")

title='vi-k'

meta(name="description", content='slogan')
meta(name="keywords", content="cinematographer photography, director of photography, cinematographer, photographer, photography, film, video, videographer, videography, camera, camera operator, camera op, camera assis")
meta(name="msapplication-TileColor", content="#fff")
meta(name="theme-color", content="#fff")

meta(property="og:type" content="website")
meta(property="og:site_name" content='Victoria Chuiko')
meta(property="og:title" content='Victoria Chuiko')
meta(property="og:description" content='Director of Photography, Photographer')
meta(property="og:image" content='/images/ogimage.jpg')

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content='Victoria Chuiko')
meta(name="twitter:description" content='Director of Photography, Photographer')
meta(name="twitter:image" content='/images/ogimage.jpg')

// Styles
link(rel="apple-touch-icon", sizes="180x180", href="./icons/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="./icons/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="./icons/favicon-16x16.png")
link(rel="manifest", href="./manifest.json")
link(rel="mask-icon", href="./icons/safari-pinned-tab.svg", color="#5bbad5")

<!-- For all browsers -->
link(rel="icon", type="image/png", sizes="32x32", href="../shared/images/icons/favicon-32x32.png")

<!-- For Google and Chrome -->
link(rel="icon" type="image/png" sizes="48x48" href="../shared/images/icons/favicon-48x48.png")
link(rel="icon" type="image/png" sizes="192x192" href="../shared/images/icons/favicon-192x192.png")