- const dataGlobal = htmlWebpackPlugin.options.data;
- const methods = htmlWebpackPlugin.options.methods;

doctype html
html(lang="en")
	head
		include ./head

	body.refresh
		.dbg 
			span.dbg1 0.12
			span.dbg2 0.13
			span.dbg3 false
			span.dbg4 id
		// Loader
		include ./components/preloader

		// Navigation
		include ./layout/menu
		include ./layout/menuContent

		// Site Content
		.main-div
			block content



		.grain__min
			.grain__min__inside(data-pre="images/noise.jpg" data-pre-webp="images/noise.webp")
		//- .grain(data-pre="images/grain.webp")
		// Footer
		//- include ./layout/footer