- const dataGlobal = htmlWebpackPlugin.options.data;
- const methods = htmlWebpackPlugin.options.methods;

doctype html
html(lang="en")
	head
		include ./head

	body.refresh

		// Loader
		include ./components/preloader

		// Navigation
		include ./layout/menu
		include ./layout/menuContent

		// Site Content
		.main-div
			block content



		.grain__min
			.grain__min__inside(data-pre="images/noise.jpg")
		//- .grain(data-pre="images/grain.webp")
		// Footer
		//- include ./layout/footer