.projects__wrapper {
	@extend %center;
	flex-direction: column;
	height: inherit;
	width: 100%;
	max-width: 1500px;
	margin: auto;
}

.projects__title {
	width: 100%;
	text-align: left;
}

.projects__item {
	height: inherit;
	width: 100%;
	min-height: 100vh;

	@include media('<laptop') {
		margin-top: 50vh;
	}

	@include media('<tablet') {
		margin-top: 18vh;
	}

	// @include media('<phone') {
	// 	margin-top: 18vh;
	// }

	&:first-child {
		margin-top: 0;
	}
}

// Image
.projects__figure {
	margin-top: 32px;
	position: relative;
	border-radius: 20px;
	height: inherit;
	width: inherit;
	min-height: 490px;

	box-shadow: rgba(17, 12, 46, 0.1) 0px 12px 40px 0px;
}

.projects__image {
	border-radius: inherit;
	object-fit: cover;
	height: inherit;
	width: inherit;
	position: absolute;
	top: 0;
	left: 0;
}

.projects__image__overlay {
	background: rgba(0, 0, 0, 0.12);
	border-radius: inherit;
	height: inherit;
	width: inherit;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.projects__btn {
	@extend %paragraph-24;
	font-weight: bold;
	height: auto;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-top: 0;

	// min-width: 300px;
	// min-height: 72px;

	margin-bottom: 64px;
	margin-right: 78px;
	z-index: 2;

	padding: 20px 82px;

	@include media('<laptop') {
		margin: 0 0;
		left: 50%;
		bottom: 20px;
		transform: translateX(-50%);
	}

	@include media('<phone') {
		border-radius: 0;
		width: 100%;
		padding: 20px 40px;
	}
}

// Info
.projects__info__text {
	@extend %paragraph-20;
	margin-bottom: 8px;
	margin-left: 30px;
	max-width: 100%;

	& strong {
		font-weight: bold;
	}
}

.projects__info {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	margin: 50px 0 70px 0;
	padding: 0 24px;

	width: 100%;

	@include media('<laptop') {
		margin: 40px 0 55px 0;
	}
}

.projects__info__icon {
	@extend %center;
}
.projects__info__description {
	// @extend %paragraph-24;
	@extend %paragraph-20;
	max-width: 100%;
}
