section.cover#cover-home()

	// Gallery
	.cover__wrapper
		include ../../layout/navigation
		include ./main
		include ./thumb
		img.cover__background(data-pre="/images/1x/px-w.jpg")
	

	// WebGL
	include ../../components/canvas