- var data = dataGlobal.home.cover;

section.cover#cover-home()

	// Gallery
	.cover__wrapper
		include ../../layout/navigation
		include ./main
		include ./thumb
		img.cover__background
	

	// WebGL
	//- include ../../components/canvas