- var data = dataGlobal.home.gallery;
- var webpSrc = methods.webpSrc;

mixin coverImg(src)
	figure.cover__item
		img.cover__image(data-pre=src data-pre-webp=`${webpSrc(src)}`)

.cover__wrapper
	+coverImg("/images/5f926e123854347.60f7581663ef0.jpg")
	+coverImg("/images/6e8ec7135468405.61e842bc09b7e.jpg")
	+coverImg("/images/5cf628123854347.60f758175835e.jpg")
	+coverImg("/images/6af915135468405.61e842bc0a091.jpg")