- var data = dataGlobal.home.gallery;
- var webpSrc = methods.webpSrc;

.main 
	figure.main__figure.main__figure--w
		img.main__image.main__image--w(alt="000001" width="100%" height="auto" data-pre="/images/1x/000037-.jpg" data-pre-webp="/images/1x/000037-.webp")
	figure.main__figure.main__figure--h
		img.main__image.main__image--h(alt="000001" width="100%" height="auto" data-pre="/images/1x/px-h.jpg")
	include ../../layout/loadingicon
	//- .main__wrapper