meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")

base(href="/")

title='Three.js Default'

meta(name="description", content='Web Designer & Developer')
meta(name="keywords", content="webdevelopment,module bundler,webpack5")
meta(name="msapplication-TileColor", content="#a3aedb")
meta(name="theme-color", content="#a3aedb")

meta(property="og:type" content="website")
meta(property="og:site_name" content='Three.js Default')
meta(property="og:title" content='Three.js Default')
meta(property="og:description" content='Front-end environment for building JavaScript applications.')
meta(property="og:image" content='./shared/images/ogimage.jpg')

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content='Three.js Default')
meta(name="twitter:description" content='Front-end environment for building JavaScript applications.')
meta(name="twitter:image" content='./shared/images/ogimage.jpg')

// Styles

//- link(rel="manifest", href="./site.webmanifest")

<!-- For all browsers -->
link(rel="icon", type="image/png", sizes="32x32", href="./shared/images/Averyano logo.png")

<!-- For Google and Chrome -->
link(rel="icon" type="image/png" sizes="48x48" href="./shared/images/Averyano logo.png")
link(rel="icon" type="image/png" sizes="192x192" href="./shared/images/Averyano logo.png")


title Three.js Default