mixin listItem(item)
	li="-->"
	li=item

.cover#cover-home(data-src-bg="./images/cover.jpg")
	h1.cover__title Webpack 5 Starter Repo
	ul.cover__desc
		+listItem("pug")
		+listItem("sass")
		+listItem("js")
	.cover__desc.cover__desc--hidden Front-end environment for building JavaScript applications. Great for building static sites.
	a#btn-gh(href="https://github.com/loudpose" target="_blank")
		button.btn
			span.btn__text 
				span.btn__text--inner GitHub