$color-white: '255, 255, 255';
$color-black: '0, 0, 0';
$color-main: #a3aedb;

$ease-in-out: cubic-bezier(0, 0, 0.975, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$font-inter: 'Inter', sans-serif;
$z-indexes: ('preloader', 'navigation', 'content', 'scrollbar');
