$color-background: '1, 1, 1';
$color-black: '0, 0, 0';
$color-white: '255, 255, 255';

$ease-in-out: cubic-bezier(0, 0, 0.975, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$phi: 1.6180339887498948482;

$z-indexes: (
	'preloader',
	'navigation',
	'content-front',
	'content',
	'content-back'
);
