// @import './../node_modules/@fontsource/raleway/index.css';
// @import './../node_modules/@fontsource/raleway/900.css';
// @import './../node_modules/@fontsource/raleway/800.css';
// @import './../node_modules/@fontsource/raleway/700.css';

// Supports weights 100-900
@import './../node_modules/@fontsource-variable/kumbh-sans/index.css';
@font-face {
	font-family: 'Thunder';
	src: url('fonts/Thunder-SemiBoldLC.woff') format('woff'),
		url('fonts/Thunder-SemiBoldLC.woff2') format('woff2'),
		url('fonts/Thunder-SemiBoldLC.ttf') format('truetype'); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'Kharkiv Tone';
	src: url('fonts/Kharkiv-Tone.ttf') format('truetype'); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
