.nav__content 
	.menu__content
		.nav__item 
			h1.nav__item__title Victoria Chuiko
			p.nav__item__subtitle is a cinematographer, photographer from Kyiv, Ukraine.
		.nav__item 
			h1.nav__item__title Location
			p.nav__item__subtitle 
				|moved to Berlin in 2022
				br
				| when Russia invaded Ukraine.
		.nav__item 
			h1.nav__item__title Contact Info
			p.nav__item__subtitle
				span 
					a(href="mailto:hello@vi-k.com") hello@vi-k.com
				span
					a(href="tel:+4915753557202") +49 15753557202