- var data = dataGlobal.home.navigation;

.nav__content 
	.menu__content
		each item in data
			if (item.lines.length > 0)
				.nav__item 
					h1.nav__item__title= item.title
					p.nav__item__subtitle 
						each line in item.lines 
							if (line.type === "text")
								span 
									| #{line.textContent}
							if (line.type === "link")
								span 
									a(href="#{line.href}") #{line.textContent}