.brandiden {
	flex-direction: column;
	padding: 0 0 !important;
}

.brandiden__top__wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;

	width: 100%;
	height: inherit;

	color: rgb(var(--data-color-black));
	background: rgb(var(--data-color-background));
	padding: var(--data-page-pad);
}
.brandiden__top__description {
	align-self: flex-start;
	max-width: 850px;
}
.brandiden__list {
	@extend %center;

	width: 100%;
	max-width: 100%;
	flex-direction: column;
	height: inherit;
	width: 100%;
	z-index: 1;
	// position: relative;
}

// Item
.brandiden__item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	mix-blend-mode: screen;

	// background: rgb(var(--data-color-background));
	z-index: 1;

	width: inherit;
	min-height: 128px;
	border-bottom: 1px solid #1f1f1f;
	text-align: left;
	padding-left: 12%;
}
.brandiden__item__title {
	width: 100%;
	max-width: 100%;
	// text-align: left;
	// padding-left: 12%;
	margin: 0 0;
	z-index: 1;
}

.brandiden__item__title {
	@extend %paragraph-24;
}
