.vision__description {
	&--topmargin {
		margin-top: 3.5rem;

		@include media('<phone') {
			text-align: justify;
			margin-top: 20px;
		}
	}
	@include media('<phone') {
		text-align: justify;
	}
}

.vision__gallery {
	margin-top: 4rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: end;
	justify-items: center;
	justify-content: space-evenly;
	width: 100%;
	gap: 20px;

	@include media('<phone') {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		text-align: justify;
		gap: 40px;
	}
}

.vision__gallery__item {
	max-width: 250px;
}

.vision__gallery__caption {
	@extend %paragraph-faded-small;
	text-align: center;
	margin-top: 32px;

	@include media('<phone') {
		margin-bottom: 0;
	}
}
