doctype html
html(lang="en")
	head
	include ./views/head

	body 

		//- .measure 
		//- 	.m1 
		//- 	.m2 
		//- 	.m3 
		//- 	.dot
		
		canvas.webgl
		
		//- footer
		//- 	include ./views/layout/footer